<html>

<head>
  <title>
    html-demos
  </title>
  <link rel="stylesheet/less" type="text/css" href="index.less" />
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false
    };
  </script>
  <script src="libs/less.js"></script>

</head>

<body>
  <div id="root" class="main hidden" :class="{hidden:!loaded,loaded:loaded}">
    <div class="head">
      <h1>html-demos-> <a target="blank" :href="currentHtmlUrl">{{currentHtmlUrl}} </a></h1>
    </div>
    <div class="content">
      <div v-if="listShow" class="container-body-left">
        <ul class="html-list">
          <li :class="{active:item===currentHtmlUrl}" class="html-item" v-for="(item,index) in htmls[0].children"
            @click="showHtml(item,$event,index)">
            <span class="ok" v-if="item.url===currentHtmlUrl">√</span> {{item.name}}
          </li>
        </ul>
      </div>
      <div class="middle" @click="toggle">
      </div>
      <div ref="test" class="container-body-right">
        <iframe ref="frameMain" v-bind:src="currentHtmlUrl" class="main-iframe" v-show="currentHtmlUrl"
          frameborder="0">
        </iframe>
      </div>
    </div>
  </div>

  <script src="data.js"></script>
  <script src="libs/vue-dist/vue.js"></script>
  <script src="index.js"></script>
</body>

</html>
